[submodule "SDL"]
	path = SDL
	url = https://github.com/libsdl-org/SDL
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json
[submodule "SDL_ttf"]
	path = SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf
